/* XL Device :1200px. */
@media (min-width: 1380px) and (max-width: 1500px) {
}

/* Custom:1200px. */
@media (min-width: 1200px) and (max-width: 1380px) {
  .content-wrapper {
    padding: 0px 60px;
  }
  .header-top-bar {
    padding: 0px 60px;
  }
  .topbar-transparent {
    padding: 10px 0px;
  }
  .header-navigation {
    padding: 15px 60px;
  }
  .slide-height {
    min-height: 600px;
  }
  .header-btn {
    padding: 11px 28px;
  }
  .navbar-nav > .nav-item > .nav-link {
    margin-left: 30px;
  }
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .content-wrapper {
    padding: 0px 40px;
  }
  .header-top-bar {
    padding: 0px 20px;
  }
  .header-navigation {
    padding: 0px 20px;
  }
  .slide-height {
    min-height: 600px;
  }
  .header-btn {
    padding: 10px 25px;
    font-size: 12px;
  }
  .navbar-nav > .nav-item > .nav-link {
    margin-left: 15px;
  }
  .promotion-content {
    padding-left: 40px;
  }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 24px;
    line-height: 26px;
  }
  p {
    font-size: 15px;
    line-height: 28px;
    font-weight: normal;
    color: #777777;
  }
  .content-wrapper {
    padding: 0px 30px;
  }
  .header-top-bar {
    padding: 0px 20px;
  }
  .slide-height {
    min-height: 600px;
  }
  #main-menu {
    order: 3;
  }
  .header-btn {
    padding: 11px 28px;
    margin-left: auto;
    margin-right: 20px;
  }
  .navbar-nav > .nav-item > .nav-link {
    margin-left: 15px;
  }
  .promotion-content {
    padding-left: 20px;
  }
  .single-feature p {
    padding: 0 0px;
  }
  .features-title h2 {
    font-size: 42px;
  }
  .filter-button-group button {
    font-size: 14px;
    line-height: 26px;
    padding: 9px 14px;
  }
  .single-counter span {
    font-size: 14px;
    line-height: 28px;
  }
  .footer-widget.newsletter {
    margin-top: 25px;
  }
  .cc-order-4 {
    order: 4;
  }
  .topbar-right-icons ul li:hover form {
    width: 100.5%;
    height: 100%;
    padding: 1px 0px;
    top: 0px;
    left: 10px;
    right: 0px;
    border: 1px solid #e7e7e7;
    transform: translateX(-11px);
    max-width: 100.5%;
  }
  .navigation-right ul li:hover .search-form-v3 {
    position: relative;
    width: 40vw;
    padding-top: 0px;
    border-radius: 16px;
    background: #f7f7fd;
    transform: translateX(0vw);
    box-shadow: 0px 0px 5px 1px #0000002e;
  }
  .service-single{
    text-align: center;
  }
  .featured-banner-wrapper{
    padding-left: 30px;
    padding-right: 30px;
  }
  .cc-md-order-1{
    order: 1;
  }
  .cc-md-order-2{
    order: 2;
  }
  .page-content{
    padding-right: 0px;
  }
  .page-sidebar{
    padding-left: 0px;
  }
  .replied-comment{
    padding-left: 60px;
  }
  .cart-product-name span {
    transform: translateX(10%);
}
.cart-product-total .product-dlt {
  transform: translateX(10px);
}
.cart-table-bottom > div {
  flex-basis: auto;
}
}
/* Extra small Device. */
@media (max-width: 767px) {
  .content-wrapper {
    padding: 0px 10px;
  }
  .header-top-bar {
    padding: 20px 0px;
  }
  .header-topbar-v2 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .language-list {
    padding-right: 0px;
  }
  .social-icons {
    padding-left: 0px;
    border-left: 0;
  }
  .topbar-transparent .social-icons::before {
    display: none;
  }
  .social-icons a {
    margin-left: 10px;
  }
  .social-icons a {
    padding-left: 5px;
}
  .topbar-right-icons ul li:hover .transparent-form {
    border: 0;
    box-shadow: 0px 2px 4px 1px #0000002e;
  }
  .navigation-right ul li:hover .search-form-v3 {
    width: 40vw;
    max-width: 40vw;
    padding-top: 2px;
    border-radius: 16px;
    background: #f7f7fd;
    box-shadow: 0px 0px 5px 1px #0000002e;
  }
  .topbar-right-icons ul li form input[type="text"] {
    width: 0px;
    padding: 0px;
  }
  .topbar-right-icons ul li:hover form input[type="text"] {
    width: 92%;
    padding-left: 10px;
  }
  .header-navigation {
    padding: 15px 10px;
  }
  .header-navigation-v2 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #main-menu {
    order: 3;
  }
  #toggle-btn {
    order: 2;
  }
  .slide-content > span {
    letter-spacing: 4px;
  }
  .slide-height {
    min-height: 550px;
    padding-bottom: 20px;
  }
  .slide-content {
    padding: 0px 10px;
    text-align: center;
  }
  .slide-content > h1 {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 20px;
  }
  .features-title h2 {
    font-size: 42px;
  }
  .single-feature:nth-of-type(3) {
    margin-bottom: 0px;
  }
  .promotion-content {
    padding-left: 20px;
  }
  .portfolio-wrapper {
    padding: 50px 0px;
  }
  .filter-button-group button {
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
  .grid-item {
    margin-bottom: 10px;
    padding: 0px 5px;
  }
  .portfolio-content h4 {
    font-size: 16px;
  }
  .portfolio-content span {
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
  }
  .mb-20 {
    margin-bottom: 15px;
  }
  .portfolio-content {
    justify-content: start;
  }
  .footer-banner img {
    width: 100%;
  }
  .footer-widget {
    margin-bottom: 25px;
  }
  .useful-links {
    overflow: hidden;
  }
  .counter-v2 {
    flex-direction: column;
    text-align: center;
    align-items: stretch;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .counter-v2 span {
    width: 90%;
  }
  .team-single {
    margin-bottom: 20px;
  }
  .social-icons-v3 {
    align-self: flex-end;
  }
  .social-icons-v3 a {
    padding-left: 5px;
    margin-left: 10px !important;
  }
  .cc-order-1 {
    order: 1;
  }
  .cc-order-2 {
    order: 2;
  }
  .responsive-gap{
    padding-left: 30px;
    padding-right: 30px;
  }
  .featured-banner h2 {
    font-size: 66px;
    line-height: 52px;
  }
  .service-single{
    text-align: center;
  }
  .featured-banner-wrapper{
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog-pagination{
    padding-bottom: 35px;
  }
  .single-product{
    text-align: center;
  }
  .page-content{
    padding-right: 0px;
  }
  .page-sidebar{
    padding-left: 0px;
  }
  .replied-comment{
    padding-left: 60px;
  }
  .cart-product-name img {
    width: 25%;
}
.table tbody {
  font-size: 14px;
}
.cart-product-name span {
  transform: translateX(10px);
}
.table tbody tr:hover {
  background: #f8f8f8;
}
.table tbody tr {
  position: relative;
}
.cart-product-total .product-dlt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  transform: translateY(-50%);
  top: 50%;
  height: 40px;
  background: #fbba42e0;
  border-radius: 50%;
  right: -60px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease 0s;
}
.table tbody tr:hover .cart-product-total .product-dlt {
  opacity: 1;
  visibility: visible;
}
.cart-table-bottom {
  margin-bottom: 40px;
  flex-direction: column;
}
.coupon {
  margin-bottom: 20px;
}
.cart-table-bottom button {
  height: 40px;
  font-size: 14px;
}
.coupon input {
  height: 40px;
  margin-right: 5px;
}
.update-cart button:first-child {
  margin-right: 5px;
}
.table thead tr th {
  font-size: 15px;
}

}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}
